<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>网盘注册</title>
	<link rel="stylesheet" href="../static/css/regLogin-new.css">
</head>

<body>
	<div class="box">
		<form autocomplete="off" method="post">
			<h2>网盘注册</h2>
			<div class="inputBox">
				<input name="username" type="text" required="required">
				<span>UserName</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input name="password" type="password" required="required">
				<span>Password</span>
				<i></i>
			</div>
			<div class="links">
				<!-- <a href="#">Forgot Password ?</a> -->
				<a href="login">已有账号？点击登录</a>
			</div>
			<input type="submit" value="Login">
		</form>
	</div>
</body>

</html>